Options +FollowSymLinks
RewriteEngine On

RewriteRule ^auth/login$ ./auth.php?page=login
RewriteRule ^auth/logout$ ./auth.php?page=login&action=logout
RewriteRule ^auth/register$ ./auth.php?page=register
RewriteRule ^auth/password$ ./auth.php?page=password
RewriteRule ^auth/forgot$ ./auth.php?page=forgot
RewriteRule ^auth/reset/([a-zA-Z0-9]*)$ ./auth.php?page=reset&token=$1

RewriteRule ^tender$ ./index.php?page=tender
RewriteRule ^tender/detail/([0-9]*)$ ./index.php?page=tender_detail&id_tender=$1
# RewriteRule ^penawaran$ ./index.php?page=penawaran
# RewriteRule ^profil$ ./index.php?page=profil

RewriteRule ^app/dashboard$ ./app.php?page=dashboard

RewriteRule ^app/tender$ ./app.php?page=tender
RewriteRule ^app/tender/detail/([0-9]*)$ ./app.php?page=tender_detail&id_tender=$1
RewriteRule ^app/tender/tambah$ ./app.php?page=tender_tambah

RewriteRule ^app/user/admin$ ./app.php?page=user&id_jenis=1
RewriteRule ^app/user/petugas$ ./app.php?page=user&id_jenis=2
RewriteRule ^app/user/vendor$ ./app.php?page=user&id_jenis=3
RewriteRule ^app/user/tambah-admin$ ./app.php?page=user_tambah&id_jenis=1
RewriteRule ^app/user/tambah-petugas$ ./app.php?page=user_tambah&id_jenis=2
RewriteRule ^app/user/tambah-vendor$ ./app.php?page=user_tambah&id_jenis=3
RewriteRule ^app/user/edit/([a-zA-Z0-9]*)$ ./app.php?page=user_edit&id_user=$1
RewriteRule ^app/profil$ ./app.php?page=profil