Options +FollowSymLinks
RewriteEngine On

RewriteRule ^auth/login$ ./auth.php?page=login
RewriteRule ^auth/logout$ ./auth.php?page=login&action=logout
RewriteRule ^auth/register$ ./auth.php?page=register
RewriteRule ^auth/password$ ./auth.php?page=password
RewriteRule ^auth/reset$ ./auth.php?page=reset

RewriteRule ^tender$ ./index.php?page=tender
RewriteRule ^tender/detail/([0-9]*)$ ./index.php?page=tender_detail&id_tender=$1

RewriteRule ^app/dashboard$ ./app.php?page=dashboard
RewriteRule ^app/tender$ ./app.php?page=tender